@model MyUser
<div id="username" class="d-none">@Model.UserName</div>

<div class="row d-flex justify-content-center">
	<div class="col col-lg-9 col-xl-8">
		<div class="card">
			<div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
				<div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
					<img src=@Model.ImagePath
						 alt="profile picture" class="img-fluid img-thumbnail shadow mt-4 mb-3"
						 style="width: 150px; min-height: 150px; object-fit:cover; z-index: 1">
					@if (ViewBag.isSignedInUser)
					{
						<a asp-action="Settings" type="button" class="btn btn-outline-dark" style="z-index: 1;">
							Edit profile
						</a>
					}
					else if (ViewBag.isFollowed)
					{
						<a asp-action="Unfollow" asp-route-username="@Model.UserName" type="button" class="btn btn-outline-dark" style="z-index: 1;">
							Unfollow
						</a>
					}
					else
					{
						<a asp-action="Follow" asp-route-username="@Model.UserName" type="button" class="btn btn-outline-dark" style="z-index: 1;">
							Follow
						</a>
					}
				</div>
				<div class="ms-3" style="margin-top: 130px;">
					<h5>@Model.FirstName @Model.LastName</h5>
					<p>@@@Model.UserName</p>
				</div>
			</div>
			<div class="p-4 text-black bg-light">
				<div class="d-flex justify-content-end text-center py-1 text-body">
					<div>
						<p class="mb-1 h5">@Model.PostCount</p>
						<p class="small text-muted mb-0">Posts</p>
					</div>
					<a asp-action="Followers" asp-route-username="@Model.UserName" class="ps-3 text-decoration-none text-black">
						<p class="mb-1 h5">@Model.FollowerCount</p>
						<p class="small text-muted mb-0">Followers</p>
					</a>
					<a asp-action="Followings" asp-route-username="@Model.UserName" class="ps-3 text-decoration-none text-black">
						<p class="mb-1 h5">@Model.FollowingCount</p>
						<p class="small text-muted mb-0">Following</p>
					</a>
				</div>
			</div>
			<div class="card-body p-4 text-black">
				<div class="mb-5  text-body">
					<p class="lead fw-normal mb-1">About</p>
					<div class="p-4 bg-light">
						<p class="font-italic mb-1">Web Developer</p>
						<p class="font-italic mb-1">Lives in New York</p>
						<p class="font-italic mb-0">Photographer</p>
					</div>
				</div>				
				<ul class="nav nav-justified feed-tabs mb-1 ms-auto me-auto" style="max-width: 880px;">
					<li class="nav-item">
						<a id="posts" class="nav-link selected-tab" href="#" onclick="ChangeTab(this);return false;">Posts</a>
					</li>
					<li class="nav-item">
						<a id="liked" class="nav-link" href="#" onclick="ChangeTab(this);return false;">Liked</a>
					</li>
					<li class="nav-item">
						<a id="reposted" class="nav-link" href="#" onclick="ChangeTab(this);return false;">Reposted</a>
					</li>
				</ul>
				<!--Posts Container-->
				<div id="container"></div>
				<div id="progress" style="display:none">
					<h4>Loading...</h4>
				</div>
				<div id="end" style="display:none">
					<h4>There are no more posts...</h4>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<script type="text/javascript">
		let pageSize = 5;
		let pageIndex = 0;
		let firstPostId = 0;
		let isDataNull = false;

		let currentTab = "posts";
		let url = "/api/Feed/GetProfileData";

		$(document).ready(function () {
			SetPage();
		});

		function ChangeTab(element) {
			let tab = $(element).attr("id");
			if (currentTab === tab) {
				return;
			}

			$("#" + currentTab).removeClass("selected-tab");
			$("#" + tab).addClass("selected-tab");
			currentTab = tab;

			ClearContainer();

			switch (tab) {
				case "posts":
					url = "/api/Feed/GetProfileData";
					break;
				case "liked":
					url = "/api/Feed/GetProfileLikeData";
					break;
				case "reposted":
					url = "/api/Feed/GetProfileRepostData";
					break;
				default:
				// code block
			}

			SetPage();
		}

		function SetPage() {
			GetData(url);

			$(window).scroll(function () {
				if (!isDataNull && $(window).scrollTop() ==
					$(document).height() - $(window).height()) {
					GetData(url);
				}
			});
		}

		function ClearContainer() {
			$("#container").html("");
			pageIndex = 0;
			firstPostId = 0;
			isDataNull = false;
		}

		function GetData(url) {
			$.ajax({
				type: 'GET',
				url: url,
				data: { "pageindex": pageIndex, "pagesize": pageSize, "firstpostid": firstPostId, "username": $("#username").html() },
				dataType: 'json',
				success: function (data) {
					console.log(data);
					if (data != null) {
						RenderPostComponent(data);

						if (pageIndex == 0) {
							firstPostId = $("#container div").first().attr("id");
						}

						pageIndex++;
					} else {
						isDataNull = true;
						$("#end").show();
					}
				},
				beforeSend: function () {
					$("#progress").show();
				},
				complete: function () {
					$("#progress").hide();
				},
				error: function () {
					alert("Error while retrieving data!");
				}
			});
		}
	</script>
}