@model PostCreateVM

<form class="d-flex justify-content-center" asp-action="Create" method="post">
	<div class="d-flex flex-column w-100" style="max-width: 800px;">
		<div asp-validation-summary="ModelOnly" class="text-danger"></div>
		<div class="card">
			<!--Card Header-->
			<div class="card-header">
				<div class="d-flex align-items-center">
					<img src=@Model.ProfilePicture style="height: 32px; width: 32px;" />
					<input type="hidden" asp-for="@Model.ProfilePicture" />
					<h6 class="card-subtitle ms-2">@Model.Username</h6>
					<input type="hidden" asp-for="@Model.Username" />
				</div>
			</div>
			<!--Card Body-->
			<div class="card-body">
				<div class="card-title">
					<input class="w-100 fs-5 border-0" asp-for="@Model.Title" placeholder="Write the Title of your post here..." contenteditable="true" />
					<span asp-validation-for="@Model.Title" class="text-danger"></span>
				</div>
				<div class="card-text">
					<textarea class="w-100 border-0" asp-for="@Model.Body" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' placeholder="Go ahead and share your thoughts here..." contenteditable="true"></textarea>
					<span asp-validation-for="@Model.Body" class="text-danger"></span>
				</div>
			</div>
			<!--Card Footer-->
			<div id="selected-tags" class="card-footer d-flex flex-wrap">
				@* <input id="btn-add-tag" class="rounded-pill border-0 bg-gradient mb-2 ps-2 pe-2" type="text" placeholder="#add tags to help people find your posts" /> *@
				@* <button type="button" id="btn-add-tag" class="rounded-pill border-0 bg-gradient mb-2">
					<span id="tag-write-area" class="ps-2 pe-2" onmousedown="FocusToTagArea(this)" onblur="FocusOutFromTagArea(this)">#add tags to help people find your posts</span>
				</button> *@
				<div id="btn-add-tag" class="d-flex justify-content-between rounded-pill border-0 bg-gradient mb-2 ps-2 pe-2">
					<div class="d-flex justify-content-center">
						<span class="ms-2 pe-0">#</span>
						<span id="tag-write-area" class="me-2 ps-1 pe-1" type="text" onblur="FocusOutFromTagArea()">add tags to help people find your posts</span>
					</div>
					<span id="btn-clear" class="d-none">✕</span>
				</div>
			</div>
		</div>
		<button type="submit" class="btn btn-secondary mt-3 align-self-end">Create Post</button>
	</div>
</form>

@section Scripts {
	<script type="text/javascript">
		var addTagButton;
		var tagWriteArea;
		var selectedTags;

		var tagCount;
		var tagDeletedIndex;

		$(document).ready(function () {
			selectedTags = document.getElementById("selected-tags");
			tagWriteArea = document.getElementById("tag-write-area");
			addTagButton = document.getElementById("btn-add-tag");

			addTagButton.addEventListener("click", FocusToTagArea);

			tagWriteArea.addEventListener("keypress", function (event) {
				if (event.key === "Enter") {
					event.preventDefault();
					AddTag(tagWriteArea.textContent);
				}
			});

			tagCount = 0;
			tagDeletedIndex = -1;
		});

		function AddTag(tagName) {
			tagName = tagName.trim();
			if (tagName.length < 1) return;

			const node = document.createElement("span");
			const textnode = document.createTextNode("#" + tagName);
			node.classList.add("post-tag");
			node.classList.add("rounded-pill");
			node.appendChild(textnode);
			selectedTags.insertBefore(node, addTagButton);

			var tagAspForHtml = '';
			tagAspForHtml += '<input type="hidden" name="TagNames[' + tagCount + ']" value="' + tagName + '" />'
			$("#selected-tags").append(tagAspForHtml);
			tagCount++;

			tagWriteArea.textContent = "";
		}

		function FocusToTagArea() {
			if (document.activeElement === tagWriteArea) return;
			tagWriteArea.textContent = "";
			tagWriteArea.setAttribute("contenteditable", true);
			tagWriteArea.focus();
		}

		function FocusOutFromTagArea() {
			if (selectedTags.childElementCount > 1) {
				tagWriteArea.textContent = "add another tag";
			}
			else {
				tagWriteArea.textContent = "add tags to help people find your posts";
			}
			tagWriteArea.setAttribute("contenteditable", false);
		}
	</script>
}

